@font-face {
    font-family: 'Open Sanscv';
    font-style: normal;
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: 'SpaceX';
    font-style: normal;
    src: url(../fonts/SpaceX.ttf);
}

@font-face {
    font-family: 'Tesla';
    font-style: normal;
    src: url(../fonts/TESLA.ttf);
}